 /* Width and height of the scrollbar */
        ::-webkit-scrollbar {
            width: 10px; /* Width of the scrollbar */
            height: 10px; /* Height of the horizontal scrollbar */
        }

        /* Track of the scrollbar */
        ::-webkit-scrollbar-track {
            background:  #0c0c0c; /* Light grey track */
           
        }

        /* Handle of the scrollbar */
        ::-webkit-scrollbar-thumb {
            background:#f1f1f1; /* Dark grey handle */
            border-radius: 20px; /* Rounded edges for the handle */
        }

        /* Handle on hover */
        ::-webkit-scrollbar-thumb:hover {
            background: #ffffff; /* Darker grey handle on hover */
        }
       