/* Universal removal of scrollbar for WebKit browsers */
::-webkit-scrollbar {
	display: none; /* This hides the scrollbar universally for WebKit browsers */
}

/* For Firefox */
* {
	scrollbar-width: none; /* This hides the scrollbar in Firefox */
}

/* For IE and Edge */
* {
	-ms-overflow-style: none; /* This hides the scrollbar in IE and Edge */
}
       
html,body{
    height: 100%;
    width: 100%;
}